@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply text-primary
}

.detailsHeight {
    min-height: calc(100vh - 70px);
}

.tableMiddle {
    height: calc(100vh - 300px);
}

.modal {
    margin: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    min-height: calc(100vh - 70px);
    background-image: linear-gradient(to right, #000000b7 0%, rgba(0, 0, 0, 0) 100%), url("../src/assets/images/home-banner.jpg");
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

@media all and (max-width:640px) {
    .container {
        width: 90%;
    }
}